<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="1" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
                    </ol>
                    {% set i=0 %}
                    <div class="carousel-inner">

                        {% for rs in sliders %}
                            {% if(i==0) %}
                                <div class="item active">
                                    <div class="col-sm-6">
                                        <h1><span>En iyi arkadaşlarımız</span> HAYVANLARDIR!!</h1>
                                        <h2>{{ rs.title }}</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. </p>
                                        <a href="{{ path('product_detail',{'id':rs.id}) }}" class="btn btn-default get">Detay</a>

                                    </div>
                                    <div class="col-sm-6">
                                        <img src="{{ asset('uploads/images/') }}{{ rs.image }}"
                                             class="girl img-responsive" alt="">

                                    </div>
                                </div>
                                {% set i=i+1 %}
                            {% else %}
                                <div class="item">
                                    <div class="col-sm-6">
                                        <h1><span>En iyi arkadaşlarımız</span> HAYVANLARDIR!!</h1>
                                        <h2>{{ rs.title }}</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. </p>
                                        <a href="{{ path('product_detail',{'id':rs.id}) }}" class="btn btn-default get">Detay</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="{{ asset('uploads/images/') }}{{ rs.image }}"
                                             class="girl img-responsive" alt="">

                                    </div>
                                </div>

                            {% endif %}

                        {% endfor %}


                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

