{% extends 'frontbase.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                    <em class="fa fa-home"></em>
                </a></li>
            <li class="active">Panel</li>
        </ol>
    </div><!--/.row-->
    <h1>Orders index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Kullanıcı id</th>
                <th>Miktarı</th>
                <th>İsmi</th>
                <th>Adresi</th>
                <th>Şehir</th>
                <th>Telefon</th>
                <th>Sipariş Bilgisi</th>
                <th>Durum</th>
                <th>Not</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.userid }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.shipinfo }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.note }}</td>
                <td>
                    <a href="{{ path('orders_show', {'id': order.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
